body {
  color: var(--cor-branca);
  font-weight: 800;
  font-family: var(--fonte-primaria);
}

.advice-generator {
  background-color: var(--cor-fundo-principal);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-card {
  background-color: var(--cor-fundo-cinza-claro);
  width: 100%;
  max-width: 430px;
  min-height: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px;
  text-align: center;
}

.advice-number {
  color: var(--cor-secundaria);
  font-size:var(--fonte-normal);
  font-weight: 600;
  margin-bottom: 20px;
}

.advice-text {
  font-size: var(--fonte-grande);
  margin-bottom: 30px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  margin-bottom: 20px;
}

.divider img {
  max-width: 100%;
}

.advice-generator-button {
  background-color: var(--cor-secundaria);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 0.3s ease;
}

.advice-generator-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}

.advice-generator-button img {
  width: 24px;
  height: 24px;
}