html {
  font-size: 62.5%;
  color: var(--cor-branca);
  font-weight: 800;
  font-family: var(--fonte-primaria);
}

main {
  background-color: var(--cor-fundo-principal);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-mensagem {
  background-color: var(--cor-fundo-cinza-claro);
  height: 270px;
  /* Permite que a caixa cresça conforme necessário */
  
  /* Mantém uma altura mínima */
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.caixa-mensagem .texto {
  margin: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  /* Distribui o espaço verticalmente */
}
.caixa-mensagem .numero-mensagem{
  color: var(--cor-secundaria);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px;
  
} 
.caixa-mensagem .texto .mensagem {
  font-size: var(--fonte-grande);
  margin-bottom: 30px;
  text-align: center;
  min-height: 80px;
  /* Altura mínima para a mensagem */
  display: flex;
  align-items: center;
}


.caixa-mensagem .texto .botao {
  background-color: var(--cor-secundaria);
  padding: 15px;
  border-radius: 50%;
  margin-top: auto;
  /* Empurra o botão para a parte inferior */
  position: relative;
  bottom: -35px;
  /* Ajusta a posição do botão para fora da caixa */
}

.caixa-mensagem picture img {
  max-width: 100%;
  text-align: center;

}

.caixa-mensagem .texto .botao:hover {
  color: #53FFAB;
  cursor: pointer;
  box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}